.Button {
  background-color: #57068c;
  color: white;
  font-weight: 700;
  border-radius: 10px;
  padding: 1rem 4rem;
  transition: 300ms all;
  will-change: transform;
}

.Button:hover {
  transform: scale(1.06);
}