.Button {
  /* background-color: #57068c; */
  color: white;
  font-weight: 700;
  border-radius: 10px;
  padding: 1rem 4rem;
  transition: 300ms all;
  will-change: transform;
}

.Button::after {
  background-color: #57068c;
  transition: transform 300ms;
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  border-radius: 10px;
}

.Button:hover::after {
  transform: scale(1.08);
}